ul{
    text-decoration: none;
    list-style-type: none;
    padding: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.253);
    border-radius: 12px;
}
ul, li{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    /* border-top: 1px solid rgba(225,225,225,0.05); */
}
ul, li, a{
    color: rgb(10, 158, 163);
    display: block;
    transition: 0.3s;
    font-size: 15px;
}
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.goog-tooltip{
  display: none !important;
}
.goog-tooltip:hover{
  display: none !important;
}
.goog-tooltip-highlight{
  background-color: transparent !important;
  border:none !important;
  box-shadow: none !important;
}
.goog-logo-link{
    display:none !important;
  }
  .goog-te-gadget{
    color:transparent !important;
   
  }
  #google_translate_element{
    color: rgb(184, 244, 252);
margin-left: 0px;
margin-top: -19px;
   
  }
.goog-te-gadget-simple{
  padding: 0px !important;
  line-height: 1.428571429;
  color: rgb(5, 104, 107);
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #a5a5a599;
  border-radius: 4px;
  width:100%;
  float: left;
  margin-top: -4px;

}
.goog-te-banner-frame.skiptrans{
  display: none !important;
}
div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span[style="color: rgb(213, 213, 213);"] {
  display: none;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
    .goog-logo-link{
        display:none !important;
      }
      .goog-te-gadget{
        color:transparent !important;
       
      }
      #google_translate_element{
        color: rgb(5, 104, 107);
    margin-left: 0px;
    margin-top: -19px;
       
      }
}